<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    RewriteEngine on
    RewriteCond %{HTTP_HOST} ^https://nebulaperu.com/logos-branding[NC,OR]
    RewriteRule ^(.*)$ https://nebulaperu.com/branding-dise%C3%B1o-de-marca/$1 [L,R=301,NC]

    RewriteEngine on
    RewriteCond %{HTTP_HOST} ^https://nebulaperu.com/community-manager[NC,OR]
    RewriteRule ^(.*)$ https://nebulaperu.com/publicidad-marketing-en-redes-sociales/$1 [L,R=301,NC]

    

</IfModule>
